
h1{
    margin-top: 2%;
    color: red;
    text-align: center;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
#warning{
    margin-left: 40%;
}
@media (max-width: 600px){
#warning{margin-left: 10%;}
}
@media (max-width: 300px){
    #warning{margin-left: 5%;}
    }