.opcion{
    background-color: #E79F56;
    border: #4D2507 solid 2px;
    border-radius: 40px;
    padding: 1%;
    margin-top: 2%;
}
.funciones{
    padding-left: 20%;
    color: #4D2507;
}

#opciones{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
a{text-decoration: none;}

@media (max-width: 850px){
    #opciones{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
    }
    .funciones{
        padding-left: 10%;
    }
}
@media (max-width: 300px){
    #opciones{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        font-size: 16px;
    }
    .funciones{
        padding-left: 15%;
        color: #4D2507;
    }
}
.icono{
    color: #4D2507;
    font-size: 40px;
}